<div class="container">
  <semantic-context repository="sari-rds">
    <semantic-search>
      
      <semantic-search-form-query
         query-template='{
           "queryString": "
              PREFIX rds: <http://www.researchspace.com/resource/assets/Ontologies/sari-rds#>
              SELECT ?subject ?outputId ?outputType ?outputName ?outputDescription WHERE {
                ?subject rds:hasQueryString ?token;
                  rds:hasType <http://schema.swissartresearch.net/ontology/rds#Person> ;
                  rds:hasLimit \"3\" ;
                  rds:outputName ?outputName;
                  rds:outputType ?outputType;
                  rds:outputId ?outputId;
                  rds:outputDescription ?outputDescription;
              }
            ",
            "arguments": {
              "token": {"type": "xsd:string"}
            }
          }'

          fields='[
            {
              "id": "token",
              "label": "Type",
              "xsdDatatype": "xsd:string"
            }
          ]'>
            <semantic-form-text-input render-header="false" for="token" placeholder='Insert research parameter e.g. "Leonardo da Vinci"'></semantic-form-text-input>
            <button type='button' name='submit' className='btn btn-default'>Search</button>
      </semantic-search-form-query>
      
      <semantic-search-result-holder>
        <semantic-search-result> 
          <semantic-table 
            id='table' 
            query="select ?subject ?outputId ?outputType ?outputName ?outputDescription where{}"
            column-configuration='[
              {
                "displayName": "ID", 
                "cellTemplate": "{{outputId.value}}" 
              },              
              {
                "displayName": "Type", 
                "cellTemplate": "{{outputType.value}}" 
              },
              {
                "displayName": "Name", 
                "cellTemplate": "{{outputName.value}}" 
              },
              {
                "displayName": "Description", 
                "cellTemplate": "{{outputDescription.value}}" 
              }
            ]'
          ></semantic-table> 
        </semantic-search-result>
      </semantic-search-result-holder>
    </semantic-search>
    
  </semantic-context>
</div>


